openapi: 3.1.0
info:
  title: PBPE Marketplace API
  version: 1.0.0
  description: >
    PBPE Marketplace API provides access to PBPE Dashboard metrics, Credits,
    Impact data, Finance (PBPE-backed Bonds), Products, and Users.
    This is the core API for PBPE OS Layer 4.

servers:
  - url: https://api.pbpe-marketplace.org
    description: Production server (example)

paths:

  ###############################################
  # DASHBOARD API
  ###############################################

  /dashboard/summary:
    get:
      summary: Get global KPI summary for PBPE Dashboard v3
      operationId: getDashboardSummary
      responses:
        '200':
          description: Summary metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSummary'

  /dashboard/ghg-breakdown:
    get:
      summary: Get GHG reduction breakdown by source
      operationId: getGHGBreakdown
      responses:
        '200':
          description: GHG breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GHGBreakdown'

  /dashboard/pbpe:
    get:
      summary: Get PBPE issuance and components
      operationId: getPBPEIssuance
      responses:
        '200':
          description: PBPE issuance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PBPEIssuance'

  /dashboard/flywheel:
    get:
      summary: Get PBPE Value Flywheel metrics
      operationId: getFlywheel
      responses:
        '200':
          description: Flywheel metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flywheel'

  /dashboard/credits/market:
    get:
      summary: Get PBPE Credits market data
      operationId: getCreditMarket
      responses:
        '200':
          description: Credit market data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditMarket'

  /dashboard/finance/bonds:
    get:
      summary: Get PBPE-backed Bond dashboard data
      operationId: getDashboardBonds
      responses:
        '200':
          description: Bond dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondDashboardList'

  /dashboard/enterprise/usage:
    get:
      summary: Get enterprise adoption metrics
      operationId: getEnterpriseUsage
      responses:
        '200':
          description: Enterprise usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnterpriseUsage'


  ###############################################
  # CREDITS API
  ###############################################

  /credits/price:
    get:
      summary: Get PBPE credit prices
      operationId: getCreditPrices
      parameters:
        - name: type
          in: query
          required: false
          description: Optional credit type filter
          schema:
            type: string
            enum: [carbon, biosecurity, food_loss, quality, stability]
      responses:
        '200':
          description: Credit prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditPriceResponse'

  /credits/buy:
    post:
      summary: Buy PBPE credits based on KPI payload
      operationId: buyCredits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditPurchaseRequest'
      responses:
        '200':
          description: Purchase confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditPurchaseResponse'

  /credits/sell:
    post:
      summary: Sell PBPE credits
      operationId: sellCredits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditSellRequest'
      responses:
        '200':
          description: Sell confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditSellResponse'

  /credits/portfolio:
    get:
      summary: Get user's PBPE credit portfolio
      operationId: getCreditPortfolio
      responses:
        '200':
          description: Portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditPortfolio'


  ###############################################
  # PRODUCTS API
  ###############################################

  /products/list:
    get:
      summary: List PBPE-certified products
      operationId: listProducts
      responses:
        '200':
          description: Product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  /products/detail:
    get:
      summary: Get product details
      operationId: getProductDetail
      parameters:
        - name: product_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Product detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'


  ###############################################
  # IMPACT API
  ###############################################

  /impact/scope3:
    get:
      summary: Get Scope 3 reduction data
      operationId: getScope3Impact
      responses:
        '200':
          description: Scope 3 impact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scope3Impact'

  /impact/carbon:
    get:
      summary: Get carbon impact data
      operationId: getCarbonImpact
      responses:
        '200':
          description: Carbon impact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarbonImpact'

  /impact/biosecurity:
    get:
      summary: Get biosecurity impact data
      operationId: getBiosecurityImpact
      responses:
        '200':
          description: Biosecurity impact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiosecurityImpact'


  ###############################################
  # USER API
  ###############################################

  /users/register:
    post:
      summary: Register new enterprise user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegisterRequest'
      responses:
        '200':
          description: User registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegisterResponse'

  /users/auth:
    post:
      summary: Authenticate user and obtain token
      operationId: authenticateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAuthRequest'
      responses:
        '200':
          description: Auth token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuthResponse'


  ###############################################
  # FINANCE / BONDS API
  ###############################################

  /finance/bonds:
    get:
      summary: List PBPE-backed bonds
      operationId: listBonds
      responses:
        '200':
          description: Bond list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondListResponse'

  /finance/bonds/price:
    get:
      summary: Get PBPE-backed bond price and yield
      operationId: getBondPrice
      parameters:
        - name: bond_id
          in: query
          required: false
          schema:
            type: string
            default: PBPE-GLOBAL-2035
      responses:
        '200':
          description: Bond price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondPriceResponse'

  /finance/bonds/portfolio:
    get:
      summary: Get bond portfolio
      operationId: getBondPortfolio
      responses:
        '200':
          description: Bond portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondPortfolioResponse'

    /finance/insurance/products:
    get:
      summary: List PBPE insurance products
      operationId: listInsuranceProducts
      responses:
        '200':
          description: Insurance products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceProductList'

  /finance/insurance/quote:
    post:
      summary: Get PBPE insurance premium quote
      operationId: getInsuranceQuote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceQuoteRequest'
      responses:
        '200':
          description: Insurance quote
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceQuoteResponse'

  /finance/insurance/policies:
    get:
      summary: List PBPE insurance policies
      operationId: listInsurancePolicies
      responses:
        '200':
          description: Insurance policies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsurancePolicyList'

components:
  schemas:

    ###############################################
    # DASHBOARD SCHEMAS
    ###############################################

    DashboardSummary:
      type: object
      properties:
        units:
          type: integer
        waste_processed_t_per_year:
          type: number
        ghg_reduction_tco2e_per_year:
          type: number
        pbpe_issued_per_year:
          type: number
        pbpe_price_usd:
          type: number
        pbpe_market_value_usd_per_year:
          type: number
        green_premium_jpy_per_year:
          type: number
        roi_percent_per_year:
          type: number
        payback_months:
          type: number
        scope3_reduction_tco2e_per_year:
          type: number

    GHGBreakdown:
      type: object
      properties:
        total_tco2e_per_year:
          type: number
        sources:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              tco2e_per_year:
                type: number

    PBPEIssuance:
      type: object
      properties:
        total_pbpe_per_year:
          type: number
        components:
          type: object
          properties:
            carbon_pbpe:
              type: number
            soil_pbpe:
              type: number
            water_pbpe:
              type: number
            health_pbpe:
              type: number

    Flywheel:
      type: object
      properties:
        investment_jpy_per_year:
          type: number
        ecosystem_improvement_index:
          type: number
        productivity_index:
          type: number
        pbpe_issued_per_year:
          type: number
        value_distribution:
          type: object
          properties:
            farmers_jpy:
              type: number
            enterprises_jpy:
              type: number
            governments_jpy:
              type: number
        economic_return_jpy_per_year:
          type: number
        reinvestment_rate:
          type: number

    CreditMarket:
      type: object
      properties:
        credits:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              volume_pbpe:
                type: number
              price_usd:
                type: number
              value_usd:
                type: number

    BondDashboardList:
      type: object
      properties:
        bonds:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              outstanding_usd:
                type: number
              coupon_percent:
                type: number
              linked_to:
                type: object
                properties:
                  pbpe_floor:
                    type: number
                  ghg_reduction_floor_tco2e:
                    type: number
              maturity_year:
                type: integer

    EnterpriseUsage:
      type: object
      properties:
        companies_onboarded:
          type: integer
        countries:
          type: integer
        sectors:
          type: array
          items:
            type: string
        scope3_reports_linked:
          type: integer


    ###############################################
    # CREDITS SCHEMAS
    ###############################################

    KPIPayload:
      type: object
      properties:
        yield_t:
          type: number
        revenue_usd:
          type: number
        cost_usd:
          type: number
        pbpe_value_usd:
          type: number
        roi_pct:
          type: number
        delta_c_tc:
          type: number
        ghg_reduction_tco2e:
          type: number
        disease_reduction_pct:
          type: number
        food_loss_reduction_t:
          type: number
        quality_score:
          type: number
        stability_index:
          type: number

    CreditPriceResponse:
      type: object
      properties:
        Biosecurity:
          type: number
        Carbon:
          type: number
        FoodLoss:
          type: number
        Quality:
          type: number
        Stability:
          type: number

    CreditPurchaseRequest:
      type: object
      properties:
        kpi:
          $ref: '#/components/schemas/KPIPayload'
        credit_types:
          type: array
          items:
            type: string

    CreditPurchaseResponse:
      type: object
      properties:
        credits_issued:
          type: object
          additionalProperties:
            type: number
        total_cost_usd:
          type: number

    CreditSellRequest:
      type: object
      properties:
        type:
          type: string
        amount_pbpe:
          type: number

    CreditSellResponse:
      type: object
      properties:
        transaction_id:
          type: string
        total_return_usd:
          type: number

    CreditPortfolio:
      type: object
      properties:
        credits:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              amount_pbpe:
                type: number
              value_usd:
                type: number


    ###############################################
    # PRODUCTS SCHEMAS
    ###############################################

    Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string

    ProductListResponse:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'

    ProductDetail:
      type: object
      properties:
        product_id:
          type: string
        name:
          type: string
        category:
          type: string
        description:
          type: string
        pbpe_impact:
          type: object


    ###############################################
    # IMPACT SCHEMAS
    ###############################################

    Scope3Impact:
      type: object
      properties:
        scope3_reduction_tco2e:
          type: number
        delta_c_tc:
          type: number
        verification_level:
          type: string

    CarbonImpact:
      type: object
      properties:
        total_tco2e:
          type: number
        sources:
          type: object
          additionalProperties:
            type: number

    BiosecurityImpact:
      type: object
      properties:
        risk_reduction_index:
          type: number
        stability_index:
          type: number


    ###############################################
    # USER SCHEMAS
    ###############################################

    UserRegisterRequest:
      type: object
      properties:
        company_name:
          type: string
        email:
          type: string

    UserRegisterResponse:
      type: object
      properties:
        user_id:
          type: string
        status:
          type: string

    UserAuthRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string

    UserAuthResponse:
      type: object
      properties:
        token:
          type: string


    ###############################################
    # BOND / FINANCE SCHEMAS
    ###############################################

    Bond:
      type: object
      properties:
        bond_id:
          type: string
        currency:
          type: string
        notional:
          type: number
        maturity_year:
          type: integer
        base_coupon_percent:
          type: number
        pbpe_floor:
          type: number
        pbpe_target:
          type: number
        impact_floor_tco2e:
          type: number
        coupon_min_percent:
          type: number
        coupon_max_percent:
          type: number

    BondListResponse:
      type: object
      properties:
        bonds:
          type: array
          items:
            $ref: '#/components/schemas/Bond'

    BondPriceResponse:
      type: object
      properties:
        bond_id:
          type: string
        yield_percent:
          type: number
        price_percent_of_par:
          type: number

    BondPortfolioItem:
      type: object
      properties:
        bond_id:
          type: string
        quantity:
          type: number
        market_value_usd:
          type: number

    BondPortfolioResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BondPortfolioItem'
        total_value_usd:
          type: number

    ###############################################
    # INSURANCE SCHEMAS
    ###############################################

    InsuranceProduct:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        coverage_type:
          type: string

    InsuranceProductList:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/InsuranceProduct'

    InsuranceQuoteRequest:
      type: object
      properties:
        farm_id:
          type: string
        region:
          type: string
        biosecurity_risk:
          type: number
        yield_volatility:
          type: number
        stability_index:
          type: number
        coverage_type:
          type: string

    InsuranceQuoteResponse:
      type: object
      properties:
        premium_usd_per_year:
          type: number
        coverage_limit_usd:
          type: number
        deductible_usd:
          type: number

    InsurancePolicy:
      type: object
      properties:
        policy_id:
          type: string
        product_id:
          type: string
        premium_usd_per_year:
          type: number
        coverage_limit_usd:
          type: number
        status:
          type: string

    InsurancePolicyList:
      type: object
      properties:
        policies:
          type: array
          items:
            $ref: '#/components/schemas/InsurancePolicy'
